@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

body {
  background: #1f1a23;
  font-family: "Grape Nuts", cursive, sans-serif;
}

h1 {
  color: #ffb6c1;
  font-size: 2.4rem;
  text-align: center;
}

p {
  color: #ffb6c1;
}

.icons {
  width: 13.7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hover {
  transition: 0.3s ease;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.3s ease;
}

#hover:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

#pfp {
  height: 7rem;
  width: 7rem;
  border-radius: 25%;
  display: block;
  margin-top: 6.5rem;
  margin-left: auto;
  margin-right: auto;
}

#discord {
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
