@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  background: #1f1a23;
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  color: #ffb6c1;
  text-align: center;
}

footer {
  color: #ffb6c1;
  text-align: center;
  margin-top: 38em;
}

p {
  color: #ffb6c1;
}

hr {
  color: #ffb6c1;
  width: 10%;
  margin-bottom: 1.8em;
}

.icons {
  width: 8.7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hover {
  transition: 0.3s ease;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.3s ease;
}

#hover:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

#pfp {
  height: 6.8em;
  width: 6.8em;
  border-radius: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
